body,
html {
  height: 100%;
  margin: 0;
}

.container {
  display: grid;
  height: 100vh;
  border: 1px solid orange;
  grid-template-rows: 80px auto auto auto auto;
  /* grid-auto-rows: minmax(100px, auto); */
  grid-gap: 5px;
  grid-template-areas:
    "h h h h h h h h h h h h"
    "i i i i i i i i i i i i"
    "a a a a a a a a b b b b"
    "sb sb sb sb sb sb sb sb so so so so "
    "f f f f f f f f f f f f";
}

.header-sec {
  background-color: rgb(252, 253, 253);
  grid-area: h;
}

.intro-sec {
  background-color: yellowgreen;
  grid-area: i;
}

.about-sec {
  background-color: thistle;
  grid-area: a;
}

.blog-sec {
  background-color: turquoise;
  grid-area: b;
}

.subscribe-sec {
  background-color: wheat;
  grid-area: sb;
}
.social-sec {
  background-color: white;
  grid-area: so;
}
.footer-sec {
  background-color: rgb(238, 220, 121);
  grid-area: f;
}

/* Header styling */

.social-sec,
.left-header-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 5px solid yellowgreen; */
  grid-gap: 20px;
  /* flex-wrap: wrap; */
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 0.65rem 0;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  position: sticky;
  /* border: 5px solid goldenrod; */
}

.left-header-sec > div:nth-child(1) {
  margin-right: auto;
  width: 200px;
  padding-left: 20px;
}
.social-sec > div {
  width: 50px;
}

.left-header-sec > div {
  color: #ee5914;
  width: 100px;
}

.left-header-sec {
  text-align: center;
  justify-items: right;
}

/* Header image  */
.avatar {
  width: 60%;
  height: auto;
}

.ysc-logo {
  width: 100%;
  height: auto;
}
